<nav class="center">
    <ul class="pagination pagination-lg">
        <li *ngIf="countPages !== 0" class="page-item previous">
            <a (click)="prev()" [class.disabled]="selected == 1" class="page-link" aria-label="Previous">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
        </li>
        <li *ngIf="minPage !== 1" class="page-item">
            <span class="page-link">...</span>
        </li>
        <li *ngFor="let page of pages" class="page-item" [class.active]="selected == page">
            <a (click)="select(page)" class="page-link">{{ page }}</a>
        </li>
        <li *ngIf="maxPage !== countPages" class="page-item">
            <span class="page-link">...</span>
        </li>
        <li *ngIf="countPages !== 0" class="page-item next">
            <a (click)="next()" [class.disabled]="selected == countPages" class="page-link" aria-label="Next">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </li>
    </ul>
</nav>