.center {
  justify-content: center;
  display: flex;
}

.page-link {
  color: #004d40;
  background-color: inherit;

  &:hover {
    background-color: rgba(255, 255 , 255, 0.3);
  }
}

.material-icons {
  font-size: 20px;
}

.previous, .next {
  a {
    width: 200px;
  }
}

.previous {
  text-align: start;
}

.next {
  text-align: end;
}
