.center {
  justify-content: center;
  display: flex;
}

@mixin active() {
  font-size: 24px;
  i {
    font-size: 24px;
  }
  background-color: rgba(255, 255 , 255, 0.3);
}

.active {
  a {
    @include active();
    color: #004d40;
    background-color: inherit;
    &:hover {
      background-color: inherit;
      color: inherit;
    }
  }
}

.page-link {
  color: #004d40;
  background-color: inherit;

  &:hover {
    @include active();
  }
}

.material-icons {
  font-size: 20px;
}

.previous, .next {
  a {
    width: 200px;
  }
}

.previous {
  text-align: start;
}

.next {
  text-align: end;
}

.disabled {
  pointer-events: none;
}