.container-users {
  margin: 10px;
  display: block;
  align-items: center;

  .back-text {
    margin-left: 10px;
  }

  .users {
    width: 70%;
    margin: 0 auto;

    .not-found {
      color: #1b5e20;
    }
  }
}
