<div class="container-users">
    <div class="users">
        <pm-search (onChangeSearch)="setSearch($event)" [isLoading]="isLoading">
        </pm-search>
        <div *ngIf="isUsers() && !isLoading">
            <pm-user-card *ngFor="let user of users" [user]="user"></pm-user-card>
            <pm-pagination (onChangePage)="setPage($event)"></pm-pagination>
        </div>
        <div *ngIf="!isUsers() && !isLoading">
            <span class="">Sorry users not found</span>
        </div>
    </div>
</div>
