<div class="modal fade modal-ext" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><i class="material-icons">people</i> Login</h3>
            </div>

            <div class="modal-body">
                <div class="md-form">
                    <i class="material-icons prefix">email</i>
                    <input [(ngModel)]="user.email"
                        id="email"
                        type="text"
                        class="form-control"
                    >
                    <label for="email">Your email</label>
                </div>

                <div class="md-form">
                    <i class="material-icons prefix">lock_outline</i>
                    <input type="password"
                        [(ngModel)]='user.password'
                        id="password"
                        class="form-control"
                    >
                    <label for="password">Your password</label>
                </div>
                <p *ngIf="isAccessDenied" class="text-xs-center has-error">
                    Invalid email or password!
                </p>
                <div class="text-xs-center">
                    <button class="btn btn-default tail-color btn-lg" (click)="login()">Login</button>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
