$tail-color: #00695c;
$tail-dark-color: #004d40;
$red-color: #CC0000;

.md-form .prefix.active {
    color: $tail-color;
}

input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $tail-color;
    box-shadow: 0 1px 0 0 $tail-color;

    +label{
        color: $tail-color;
    }
}

.has-error {
    @keyframes text-error-animation {
        from {color: white;}
        to {color: $red-color;}
    }

    color: $red-color;
    animation-name: text-error-animation;
    animation-duration: 2s;
}

.tail-color {
    background-color: $tail-color!important;

    &:hover {
        background-color: $tail-dark-color!important;
    }
}
