<pm-modal [identifier]="id">

    <pm-modal-header>
        <h3><i class="material-icons">assignment</i>Project ({{ project.title}})</h3>
    </pm-modal-header>

    <pm-modal-body>
        <form class="container">
            <div class="md-form">
                <i class="material-icons prefix" >assessment</i>
                <input id="estimate" type="text" class="form-control" [(ngModel)]="task.estimate" name="estimate">
                <label for="estimate" [ngClass]="{'active': !!task.estimate}">Estimate</label>
            </div>

            <div class="md-form">
                <i class="material-icons prefix">title</i>
                <input id="title" type="text" class="form-control" [(ngModel)]="task.title" name="title">
                <label for="title" [ngClass]="{'active': !!task.title}">Title</label>
            </div>

            <div class="md-form">
                <i class="material-icons prefix">description</i>
                <textarea type="text" id="description" class="md-textarea" [(ngModel)]="task.description" name="description"></textarea>
                <label for="description" [ngClass]="{'active': !!task.description}">Description</label>
            </div>

            <div class="md-form">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="task.resolution" name="resolution">
                    Resolution
                </label>
            </div>

            <div class="text-xs-center">
                <button class="btn btn-default btn-lg" (click)="save()">
                    <span>Save</span>
                </button>
            </div>
        </form>
    </pm-modal-body>

    <pm-modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </pm-modal-footer>

</pm-modal>
