<nav class="navbar navbar-fixed-top navbar-dark default-color-dark">
    <a class="navbar-brand" [routerLink]="['']">
        <i class='material-icons brand'>home</i>
    </a>

    <ul class="nav navbar-nav">
        <li *ngIf="!isAuthorized" class="nav-item float-right">
            <a class="nav-link" (click)="openLoginModal()">
                <i class='material-icons icon'>people</i>Log in
            </a>
        </li>
        <li *ngIf="isAuthorized" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id='projectsMenu' data-toggle="dropdown"
               data-dropdown-out="fadeOut"
               data-dropdown-in="fadeIn"
               aria-haspopup="true" aria-expanded="true">
                Projects
            </a>
            <div class="dropdown-menu dropdown-default" aria-labelledby="projectsMenu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <a class="dropdown-item waves-effect waves-light" [routerLink]="['projects']" href="#">View all projects</a>
            </div>
        </li>
        <li *ngIf="isAuthorized" class="nav-item btn-group float-right">
            <a class="nav-link" id='userMenu' data-toggle="dropdown" aria-haspopup="true">
                <i class='material-icons'>
                    more_vert
                </i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" (click)="logout()">Log out</a>
            </div>
        </li>
    </ul>
</nav>
