$tail-color: #00695c;

.brand {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 100%;
    background-color: #004d40;
}

.nav-link {
    padding-top: .800rem;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.icon {
    font-size: 16px;
}

.dropdown-item {
    margin: 0px 5px;
}

.dropdown-item:hover {
    background-color: $tail-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}