.fill-remaining-space {
  flex: 1 1 auto;
}

button {
  color: black;
}

.c-icon {
  fill: white;
}

[md-menu-item] {
  &:hover, &:focus {
    transition: all 0.1s ease-in-out 0.1s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
}
