
<md-toolbar color="primary">
    <a [routerLink]="['']" md-menu-item>
      <md-icon svgIcon='home-icon'></md-icon>
    </a>
    <span class="fill-remaining-space"></span>
    <a *ngIf="isAdmin" [routerLink]="['admin']" md-menu-item>
      <md-icon svgIcon="people-black"></md-icon>
    </a>
    <a *ngIf="!isAuthorized" [routerLink]="['login']" md-menu-item>Log in</a>
    <div *ngIf="isAuthorized">
        <span> {{ userFirstName }}</span>
        <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon class='c-icon' svgIcon="more-vert"></md-icon>
        </button>
    </div>

</md-toolbar>

<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="logout()">Log out</button>
</md-menu>
