<button md-button (click)="modal.open()">
    <md-icon>
        edit
    </md-icon>
</button>


<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Edit user (id:{{ user.id }}) </h4>
    </modal-header>
    <modal-body>
        <div class="list-inline">
            <md-input placeholder="Email"
                      [(ngModel)]="user.email" name="email"></md-input>
            <md-input placeholder="Roles"
                      [(ngModel)]="user.roles" name="roles"></md-input>
        </div>
    </modal-body>
    <modal-footer>
        <button md-button="close" (click)="close()"><md-icon>close</md-icon></button>
        <button md-button="save" (click)="save()"><md-icon>save</md-icon></button>
    </modal-footer>
</modal>
