$gray-color: #E0E0E0;
$gray-light-color: #FAFAFA;
$teal-color: #004D40;

body {
  margin: 0px;
  background-color: $gray-color;
  width: 100%;
}

input {
  height: 30px;
  outline: none;
}

input:-webkit-autofill{
    -webkit-box-shadow: inset 0 0 0 50px $gray-light-color;
}

.menu-right-position {
    margin-left: 85%;
    margin-top: -40px;
}
