$gray-color: #E0E0E0;
$gray-light-color: #FAFAFA;
$tail-color: #00695c;
$tail-dark-color: #004d40;
$red-color: #CC0000;

body {
    margin: 0px;
}

body {
    margin: 0;
    background-color: $gray-color;
    width: 100%;
}

input {
    height: 30px;
    outline: none;
}

input:-webkit-autofill{
    -webkit-box-shadow: inset 0 0 0 50px $gray-light-color;
}

.menu-right-position {
    margin-left: 85%;
    margin-top: -40px;
}

a:hover, a:focus {
    color: $gray-light-color;
    text-decoration: none;
    outline: none;
}

[md-menu-item] {
    color: $gray-light-color;
}

.md-form .prefix.active {
    color: $tail-color;
}

.hint {
    margin-left: 50px;
    font-size: 13px;
}

input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $tail-color;
    box-shadow: 0 1px 0 0 $tail-color;

    +label {
        color: $tail-color;
    }

    &.invalid {
        border-bottom: 1px solid $red-color;
        box-shadow: 0 1px 0 0 $red-color;

        +label {
            color: $red-color;
        }
    }
}

.invalid {
    margin-bottom: 0px;
}

.has-error {
    @keyframes text-error-animation {
        from {color: white;}
        to {color: $red-color;}
    }

    color: $red-color;
    animation-name: text-error-animation;
    animation-duration: 2s;
}

.btn-default {
    background-color: $tail-color!important;

    &:hover, &:focus {
        background-color: $tail-dark-color!important;
    }
}

.material-icons.prefix {
    margin-top: 10px;
}

.options {
    float: left;
}

a {
    color: $tail-color;

    &:hover {
        color: $tail-dark-color;
    }
}
