$tail-color: #009688;
$gray-color: #FAFAFA;

.login-container {
  width: 40%;
  margin: 100px auto;
  padding: 40px 60px 60px 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: $gray-color;
  md-input {
    width: 90%;
    margin-bottom: 10px;
    input {
      background-color: black;
    }
  }
  button {
    margin: 20px auto 0px;
  }
  md-card-header {
    span {
      margin-top: 10px;
    }
  }
}
.login-container:hover {
  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.pm-checkbox {
  color: gray;
}
.pm-checkbox:hover {
  color: $tail-color;
}

.pm-checkbox-label {
  margin-left: 10px;
  color: gray;
}

.md-checkbox-inner-container {
  color: $tail-color;
}

.circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background: $tail-color;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  margin-right: 10px;
  margin-left: -20px;
}

.section {
  md-icon {
    color: gray;
  }
}

.has-error {
  @keyframes text-error-animation {
      from {color: $gray-color;}
      to {color: #f64848;}
  }

  p {
      color: #f64848;
      padding: 0px;
      margin: 0px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      font-size: 15px;
      animation-name: text-error-animation;
      animation-duration: 2s;
  }
}

.md-hint {
    position: absolute;
    font-size: 75%;
    bottom: -0.5em;

    &.md-left {
        left: 0;
    }

    [dir='rtl'] & {
        left: 0;
        left: auto;

        &.md-right {
        left: auto;
        right: 0;
        }
    }

    &.has-error {
      color: red;
    }
}
