<md-card class="login-container">
  <md-card-header>
      <md-icon class="circle-icon">people</md-icon>
      <span>Log in</span>
  </md-card-header>
  <form>
    <div class='section' flex-xs="100" flex="50">
      <md-icon>account_box</md-icon>
      <md-input placeholder="Email" [(ngModel)]="user.email" name="email"></md-input>
    </div>
    <div class='section' flex-xs="100" flex="50">
      <md-icon class='lock-icon'>lock_outline</md-icon>
      <md-input placeholder="Password" type="password"
        [(ngModel)]='user.password' name="password"></md-input>
    </div>

    <!-- <div flex-xs="100" flex="50">
      <md-checkbox class="md-warn pm-checkbox" aria-label="Remeber me">
        <span class="pm-checkbox-label">Remember me</span>
      </md-checkbox>
    </div> -->
    <button md-raised-button class="md-raised md-primary" (click)="login()">Log in</button>
  </form>
</md-card>
