<md-card class="login-container">
  <md-card-header>
      <md-icon svgIcon="people-black" class="circle-icon"></md-icon>
      <span>Log in</span>
  </md-card-header>
  <form [ngClass]="(isAccessDenied) ? 'has-error' : ''">
    <div class='section'>
      <md-icon svgIcon="core:account-box"></md-icon>
      <md-input placeholder="Email"
        [(ngModel)]="user.email" name="email"></md-input>
    </div>
    <div class='section' flex-xs="100" flex="50">
      <md-icon svgIcon="lock-outline" class='lock-icon'></md-icon>
      <md-input placeholder="Password" type="password"
        [(ngModel)]='user.password' name="password">
      </md-input>
    </div>
    <p *ngIf="isAccessDenied">Invalid email or password</p>
    <button md-raised-button class="md-raised md-primary" (click)="login()">Log in</button>
  </form>
</md-card>
