.container-users {
  margin: 10px;
  display: block;
  align-items: center;

  md-toolbar {
    border-radius: 5px;
  }
  .back-text {
    margin-left: 10px;
  }

  .users {
    width: 500px;
    margin: 0 auto;

    .cards {
      margin-top: 15px;
      padding: 10px 15px;
      border-radius: 10px;

      .margin-left {
        margin-left: 10px;
      }

      md-card-title {
        font-size: 16px!important;
        font-weight: 400!important;
      }
    }

    .pagination {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      span {
        align-self: center;
      }

      button {
        background-color: #83F3BC;
        border-radius: 10px;
      }
    }

    .input {
      width: inherit;
      margin-top: 15px;
    }

    .not-found {
      color: #1b5e20;
    }
  }
}


