<div class="container">
    <pm-back></pm-back>
    <h1>USERS LIST</h1>
    <table border="1px">
        <tr>
            <th>Email</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>
                {{user.email}}
            </td>
            <td>
                edit
            </td>
        </tr>
    </table>

    <button (click)="_prev()"> Prev </button>
    <div *ngIf="offset">{{ offset }}</div>
    <button (click)="_next()"> Next </button>
</div>

