<div class="container">
    <table class="table">
        <thead>
            <tr role="row">
                <th>Title</th>
                <th>Title</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row">
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
            <tr role="row">
                <td>Title</td>
                <td>Title</td>
                <td>Title</td>
            </tr>
        </tbody>
    </table>
</div>
