<div class="container">
    <pm-search [isLoading]="isLoading" (onChangeSearch)="changeSearchQuery($event)"></pm-search>
    <table class="table">
        <tbody *ngFor="let project of projects">

            <tr role="row" >
                <td>{{ project.code }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>
                    <div (click)="project.taskShow = project.taskShow ? false : true;" class="action"><i class="material-icons">list</i></div>
                </td>
                <td>
                    <div (click)="preModal(projectModal, project);" class="action"><i class="material-icons">edit</i></div>
                </td>
            </tr>
            <tr role="row" *ngIf="project.taskShow">
                <table class="table">
                    <tbody>
                        <tr role="row" *ngFor="let task of project.tasks" class="task-list">
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.created }}</td>
                            <td>{{ task.resolution ? 'Yes' : 'No'}}</td>
                            <td>
                                <div (click)="preModal(taskModal, project, task)" class="action"><i class="material-icons">edit</i></div></td>
                        </tr>
                        <tr>
                            <td>
                                <div (click)="preModal(taskModal, project)" class="action"><i class="material-icons">add</i></div></td>
                        </tr>
                    </tbody>

                </table>
            </tr>
        </tbody>
    </table>
    <pm-pagination (onChangePage)="changePage($event)" [totalCount]="totalCountProjects" [limit]="limit">
    </pm-pagination>
</div>

<a (click)="preModal(projectModal)" class="add-project-btn">
    <i class="material-icons">add</i>
</a>

<pm-task-modal [project]="activeProject" [task]="activeTask"></pm-task-modal>
<pm-project-modal [project]="activeProject"></pm-project-modal>
<!--<pm-project-modal></pm-project-modal>-->

