$teal-color: #004D40;
$teal-light-color: #00796B;

ul.topnav {
    list-style-type: none;
    margin: 0!important;
    padding: 0;
    overflow: hidden;
    background-color: $teal-color;
}

ul.topnav li.position-left {
  float: left;
}

ul.topnav li.position-right {
  float: right;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}

ul.topnav li a:hover, .is-active {
  background-color: $teal-light-color;
}

ul.topnav li.icon {
  display: none;
}
