$teal-color: #004D40;
$teal-light-color: #00796B;

ul.topnav {
    list-style-type: none;
    margin: 0!important;
    padding: 0;
    overflow: hidden;
    background-color: $teal-color;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: $teal-light-color;}

ul.topnav li.icon {display: none;}
